<div class="uptown-nav">
    <div class="uptown-nav-left">
        <img src="../../../assets/svg/uptown-nav.svg" />
    </div>
    <div class="uptown-nav-center">
            <a class="nav-item" *ngFor="let item of navItems">{{ item }}</a>
    </div>
    <div class="uptown-nav-right">
        <img src="../../../assets/svg/eyeglass.svg" />
        <img src="../../../assets/svg/account-login.svg" />
        <a href=""><img src="../../../assets/svg/cart-notification-empty.svg" /><span class="counter">0</span></a>
        <img src="../../../assets/svg/cart-notification.svg" />
    </div>
</div>